body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 320px;
    height: 500px;
    background-size: cover;
    text-align: center;
    color: #000;
    padding: 10px;
}

.error-message {
    color: red;
    display: none;
}

#success-message {
    color: green;
    display: none;
}

#p-balance {
    font-size: 20px;
}

.sent {
    background-color: #FFF;
    margin: 0;
    padding: 3px;
    color: #000;
    border-bottom: 1px solid #EEE;
    border-left-style: solid;
    border-left-color: #f4471a;
}

.received {
    background-color: #FFF;
    margin: 0;
    padding: 3px;
    color: #000;
    border-bottom: 1px solid #EEE;
    border-left-style: solid;
    border-left-color: #43f41a;
}

.unconfirmed {
    background-color: #FFF;
    margin: 0;
    padding: 3px;
    color: #000;+
    border-bottom: 1px solid #EEE;
    border-left-style: solid;
    border-left-color: #DDD;
}

.tx-link {
    margin: 0 0 10px;
}

p {
    margin: 0 0 5px !important;
}

#transactions-box {
    height: 300px;
    border: 1px solid #ccc;
    overflow: auto;
    margin-bottom: 20px;
}

.btn-1 {
    margin-bottom: 15px;
    padding: 10px;
    /* border: 1px solid #000; */
    color: white;
    background-color: #00C4B3;
    border-radius: 5px !important;
    /* margin-top: 25px; */
    width: 60%;
}

.btn-1:hover, .btn-1:focus {
    color: rgba(0,0,0,0.7);
}

.error-message {
    color: red;
    display: none;
}

#create-prng-wallet-button {
    margin-top: 110px;
}

.file-selector {
    display: inline-block;
    margin-left: 75px;
}

.vertically-centered {
    margin-top: 50%;
}

.fa-arrow-left {
    font-size: 25px;
    color: #fff;
    -webkit-text-stroke: 1px #848484;
}


.-style-4 input[type=number],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=password],
.form-style-4 textarea,
.form-style-4 label
{
    font-size: 16px;
    color: #848484;
}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
}

#recipient {
    margin-top: 100px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=number],
.form-style-4 input[type=password]
{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid  ;
    outline: none;
    font-style: italic;
    border-radius: 5px;
    text-align: center;
}
.form-style-4 textarea,
.form-style-4 input[type=password] {
    font-style: italic;
    background-color: white;
    outline: none;
    border: 1px solid #848484;
    overflow: hidden;
    resize:none;
    height:20px;
}


.form-style-4 input[type=number]::-webkit-input-placeholder,
.form-style-4 input[type=button]::-webkit-input-placeholder,
.form-style-4 input[type=text]::-webkit-input-placeholder,
.form-style-4 input[type=password]::-webkit-input-placeholder,
.form-style-4 textarea::-webkit-input-placeholder,
.form-style-4 label::-webkit-input-placeholder
{
    font-size: 16px;
    color: #ccc;
    text-align: center;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   background-color: #fff;
   width: 50%;
   overflow:hidden;
   margin-bottom: 20px;
}
.logoIni{
    display: inline !important;
    max-width: 40%;
    padding-bottom: : 15px;
}
.titleIni{
    max-width: 60%;
    padding-bottom: 25px;
    display: inline !important;
    padding-top: 25px;
}
.textIni{
    color: #848484;
}
.underLogo{
    margin-top: 40px;
    text-align: center;
}
.form-control{
    height: 40px !important;
}
.text-nav{
    color: white;
}

.navbar-default{
    background-color: #00C4B3;
}
header{
    position: absolute;
}
.pading-top{
    padding-top: 40px;
}

.hidden {
    display: none;
}
.error {
    color: #d9534f;
    font-size: 12px;
}
h1{
    font-size:30px !important;
}

#to-home{
    float: left;
    color: white;
    text-decoration: none;
    margin-right: -45px;
    margin-left: 25px;
}
.table-header{
    color: white;
    background-color: #00C4B3;
}
#tableMosaics{
    border: 1px solid #848484;
    font-size: 14px;
}
#divExplorer{
    text-align: left;
    margin-top: 85px;
}
#mosaic-button{
    margin-top: 80px;
}
.dropdown-mosaic{
    width: 100%;
    height: 40px;
    background-color: #fff;
}
#to-settings{
    float: left;
    color: white;
    text-decoration: none;
    margin-right: -45px;
    margin-left: 25px;
}
#accountInfoQR{
    margin: 25px;
    border: 1px solid #848484;
}
